<!--
******************************************************************
* Author: Khalid Mahmood
* Assignment: WE4.0 Mobile Web Applications, Digital Skills Academy
* Student ID: D15126858
* Date : 2016/07/06
* Ref: https://www.youtube.com/watch?v=FSOiVprDdj0
******************************************************************
-->
<? xml version="1.0" encoding="UTF-8" ?>




<widget     xmlns       =   "https://www.w3.org/ns/widgets"
            xmlns.gap   =   "http://phonegap.com/ns/1.0"
            id          =   "com.dsa.todoapp" 
            versioncode =   "1"
            version     =   "1.0.0">

        <name>Things to do App</name>
        

        <description>
           Things to do App designed to manage your Thing to do list
        </description>

        <!-- Author Details -->
        <author email="khalid.mahmood@webelevate.ie" href="http://phonegap.com">
            Khalid Mahmood 
        </author>
        
        <content src="index.html" />
        
        <access origin="*" />
        
        <!--preference elements (this app only published in android hence other Platform preference aren't included-->
        <preference name="Fullscreen"           value="true" />
        <preference name="permissions"          value="none"/>
        <preference name="Orientation"          value="portrait" />
        <preference name="target-device"         value="universal" />
        <preference name="android-installLocation"    value="internalOnly" />    


        <!-- Define app icon for android platform. (this app only published in android hence other platforms aren't included-->
        <icon src="icon.png" />
        <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
        
        <platform name="android">
        <allow-intent href="market:*" />
        </platform>

</widget>


